.header,
.headerWhite {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.3s ease-in-out;
  z-index: 9999;
}
.headerWhite {
  background-color: #fff;
}
.header_section_one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right: 40px;
}
.header_section_one nav {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(82, 81, 81);
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}
.header_section_one nav:last-child {
  background-color: #386bdd;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}

.header_section_one nav:hover {
  border-bottom: 2px solid #386bdd;
}
