@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

.mainContainer {
  display: flex;
  align-items: center;
}
.leftPartContainer {
  /* background-color: red; */
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPartContainer {
  /* background-color: blue; */
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #386cdd4c;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #386bdd;
}
